---
import '@elements/BasketItem.astro'
import BasketItem from '@elements/BasketItem.astro'

import Button from '@elements/Button.astro'
import Icon from '@elements/Icon.astro'
import PricePart from '@elements/PricePart.astro'
import PricePartValue from '@elements/PricePartValue.astro'
import Promocode from '@elements/Promocode.astro'
import SuggestionProducts from '@elements/SuggestionProducts.astro'

export const modal = '#basket'

export interface Props {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<!-- SINGLETON -->
<e-popover
  {...rest}
  class:list={['basket', className]}
  id="basket"
  data-outside
>
  <div class="basket__inner">
    <e-popover-button
      class="basket__close-button"
      target="basket"
    >
      <Icon
        class="basket__close-button__icon"
        name={'close'}
      />
    </e-popover-button>

    <div class="basket__clip">
      <div class="basket__scrollable custom-scrollbar">
        <div class="f-d-24-s f-m-18-s basket__head"></div>

        <div class="basket__items-container">
          <BasketItem />
          <BasketItem />
          <BasketItem />
        </div>

        <SuggestionProducts class="basket__suggestions" />
      </div>

      <div class="basket__bottom">
        <Promocode class="basket__promo" />

        <div class="basket__info">
          <PricePart
            type={'products'}
            title=""
          />
          <PricePart
            type={'discount'}
            title="Скидка"
          />
          <PricePart
            type={'delivery'}
            title="Доставка"
          />
        </div>

        <div class="basket__final">
          <div class="basket__final__text">
            <div class="f-d-24-s f-m-18-s basket__final__title">Сумма заказа</div>
            <PricePartValue
              class="f-d-24-s f-m-18-s basket__final__value"
              type={'final'}
            />
          </div>

          <Button
            class="basket__order-button"
            theme={'arrow'}
            href="/order"
            >К оформлению заказа</Button
          >
        </div>
      </div>
    </div>
  </div>
</e-popover>

<style is:global>
  .basket {
    --history: true;
    --escape: true;

    --duration: 0.3s;
    --dominance: 2;

    position: fixed;
    top: 0;
    left: 0;

    z-index: var(--z-basket);

    width: 100%;
    height: 100%;

    opacity: 0;
    display: none;
    transition: opacity var(--duration);

    background-color: rgba(26, 26, 26, 0.8);

    @media (min-width: 769px) {
      --click-outside: true;
      padding-right: var(--screen-horisontal-padding);
    }
  }

  .basket__inner {
    position: relative;

    width: 73rem;
    height: 100%;
    margin-left: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .basket__clip {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--color-primary-1);
  }

  .basket__close-button {
    --type: close;

    position: absolute;
    right: 100%;
    top: 0;

    z-index: 3;

    width: 4rem;
    height: 4rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .basket__close-button__icon {
    width: 100%;
    height: 100%;

    fill: var(--color-secondary-3);
  }

  .basket__scrollable {
    position: relative;
    overflow: hidden auto;

    padding: 5rem;

    @media (max-width: 768px) {
      padding: 1.6rem;
      padding-top: calc(var(--header-height) + 2.4rem);
    }
  }

  .basket__scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5rem;
    height: 100%;
  }

  .basket__head {
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid var(--color-secondary-1);
    margin-bottom: 1.6rem;

    display: none;

    [data-basket-has-items='true'] & {
      display: block;
    }
  }

  .basket__items-container {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;

    margin-bottom: 2.4rem;

    @media (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }

  .basket__suggestions {
  }

  .basket__bottom {
    margin-top: auto;

    padding: 5rem;
    padding-bottom: 2.4rem;

    background-color: var(--color-secondary-2);

    @media (max-width: 768px) {
      padding: 2.4rem 1.6rem;
    }
  }

  .basket__promo {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      margin-bottom: 1.6rem;
    }
  }

  .basket__info {
    padding-bottom: 3.2rem;
    border-bottom: 0.1rem solid var(--color-secondary-1);

    display: grid;
    grid-auto-rows: max-content;
    gap: 0.8rem;
  }

  .basket__final {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.6rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .basket__final__text {
    display: flex;
    justify-content: space-between;
    gap: 4.7rem;

    @media (max-width: 768px) {
      width: 100%;
      gap: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }

  .basket__final__title {
  }

  .basket__final__value {
  }

  .basket__order-button {
    &[data-disabled] {
      pointer-events: none;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
</style>
