---
import Button from '@elements/Button.astro'
import Modal from '@elements/Modal.astro'

export const modal = '#form-answer'
---

<!-- SINGLETON -->
<Modal
  tag="e-form-answer"
  id="form-answer"
  class="form-answer"
>
  <div class="form-answer__content">
    <div class="f-d-48-s f-m-18-s form-answer__title">Title</div>
    <div class="f-d-24-s f-m-14-s form-answer__message">Message</div>
    <Button
      class="form-answer__continue"
      modal="form-answer"
      >Продолжить</Button
    >
  </div>
</Modal>

<style is:global>
  .form-answer {
  }

  .form-answer__content {
    width: 60rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .form-answer__title {
    width: 100%;

    margin-bottom: 0.8rem;

    text-align: center;
  }

  .form-answer__message {
    width: 100%;
    margin-bottom: 4rem;

    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }
  }

  .form-answer__continue {
    --type: close;
    --height: 4.3rem;
    width: 100%;
  }
</style>

<script>
  import { SwipePopoverElement } from '@lib/SwipePopoverElement'

  export class FormAnswerElement extends SwipePopoverElement {
    #titleElement: HTMLElement | null = null
    #messageElement: HTMLElement | null = null

    public setText(title: string, message: string) {
      if (this.#titleElement) {
        this.#titleElement.innerHTML = title
      }

      if (this.#messageElement) {
        this.#messageElement.innerHTML = message
      }
    }

    protected override connectedCallback() {
      super.connectedCallback()

      this.#titleElement = this.querySelector('.form-answer__title')
      this.#messageElement = this.querySelector('.form-answer__message')
    }

    protected override disconnectedCallback() {
      super.disconnectedCallback()
    }
  }

  if (!customElements.get('e-form-answer')) {
    customElements.define('e-form-answer', FormAnswerElement)
  }

  declare global {
    interface HTMLElementTagNameMap {
      'e-form-answer': FormAnswerElement
    }
  }
</script>
