---
import Button from '@elements/Button.astro'
import LocationButton from '@elements/LocationButton.astro'
import Map from '@elements/Map.astro'
import Modal from '@elements/Modal.astro'
import OrderTypeToggle from '@elements/OrderTypeToggle.astro'
import PickupPoint from '@elements/PickupPoint.astro'

export const modal = '#order-type'
---

<!-- SINGLETON -->
<Modal
  tag="e-order-type"
  id="order-type"
  class="order-type"
>
  <div class="order-type__content">
    <div class="order-type__left">
      <div
        class="f-d-24-s f-m-18-s order-type__title"
        set:html="Выберите способ получения заказа"
      />

      <OrderTypeToggle class="order-type__toggle" />

      <div class="order-type__variants">
        <div
          class="order-type__delivery"
          aria-hidden="false"
          data-order-type="delivery"
        >
          <p class="f-d-16-r f-m-14-r order-type__delivery__description"
            >Хотим убедиться, что&nbsp;вы&nbsp;находитесь в&nbsp;зоне доставки,
            введите&nbsp;пожалуйста адрес</p
          >

          <input
            type="text"
            class="f-d-16-r f-m-14-r order-type__delivery__input"
            placeholder="Город, улица, дом"
          />

          <div class="f-d-16-r f-m-14-r order-type__delivery__price"> </div>
        </div>

        <div
          class="order-type__pickup"
          aria-hidden="true"
          data-order-type="pickup"
        >
          <template class="order-type__point-template">
            <PickupPoint />
          </template>
        </div>
      </div>

      <div class="order-type__bottom">
        <LocationButton class="order-type__location" />
        <Button
          class="order-type__continue"
          modal="order-type"
          >Продолжить</Button
        >
      </div>
    </div>

    <Map
      class="order-type__map"
      user={true}
    />
  </div>
</Modal>

<style is:global>
  .order-type {
  }

  .order-type__content {
    width: 120rem;
    min-height: 52rem;

    display: flex;
    gap: 5rem;

    @media (max-width: 768px) {
      width: 100%;
      gap: 0;
      flex-direction: column;
    }
  }

  .order-type__left {
    width: 52.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      display: contents;
    }
  }

  .order-type__title {
    text-align: center;

    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      margin-bottom: 2.4rem;
    }
  }

  .order-type__toggle {
    display: flex;
    justify-content: center;
    gap: 0.8rem;

    margin-bottom: 2.4rem;
  }

  .order-type__button {
  }

  .order-type__variants {
    width: 100%;
  }

  .order-type__delivery {
    display: none;

    &[aria-hidden='false'] {
      display: block;
    }
  }

  .order-type__delivery__description {
    text-align: center;
    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
      margin-bottom: 0.8rem;
    }
  }

  .order-type__delivery__input {
    position: relative;
    z-index: 1;
    width: 100%;

    height: 4.3rem;
    margin-bottom: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: var(--border-radius-1);
    background-color: var(--color-secondary-2);

    @media (max-width: 768px) {
      height: 4.1rem;
    }
  }

  .order-type__delivery__price {
    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      text-align: center;
      margin-bottom: 1.2rem;
    }

    b {
      color: var(--color-primary-3);
    }
  }

  .order-type__pickup {
    display: none;
    flex-direction: column;

    &[aria-hidden='false'] {
      display: flex;
    }
  }

  .order-type__pickup__input-group {
    width: 100%;
    display: grid;
    gap: 1rem;

    margin-bottom: 3.2rem;

    @media (max-width: 768px) {
      gap: 0.8rem;
      margin-bottom: 2.4rem;
    }
  }

  .order-type__pickup__point {
    width: 100%;
  }

  .order-type__bottom {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* margin-top: 1.6rem; */

    @media (max-width: 768px) {
      display: contents;
    }
  }

  .order-type__location {
    @media (max-width: 768px) {
      margin-bottom: 0.4rem;
    }
  }

  .order-type__continue {
    --type: close;
    --height: 4.3rem;

    .order-type.invalid-address & {
      opacity: 0.4;
      pointer-events: none;
      cursor: not-allowed;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 2.4rem;
      order: 1;
    }
  }

  .order-type__map {
    width: 52.5rem;
    height: 50rem;

    border-radius: var(--border-radius-2);
    background-color: var(--color-secondary-2);
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      height: 25rem;
    }
  }
</style>

<script>
  import { SwipePopoverElement } from '@lib/SwipePopoverElement'
  import { InputGroupElement } from '@lib/InputGroupElement'
  import type { YMapElement, YMapEvents } from '@elements/Map.astro.0.mjs'
  import { debounce } from 'aptechka/utils'
  import { globalStore } from '@stores/globalStore'
  import { cloneTemplateContent } from '@utils/template'

  export class OrderTypeElement extends SwipePopoverElement {
    #orderVariantElements: Array<HTMLElement> = []
    #deliveryPriceElement: HTMLElement | null = null
    #deliveryInputElement: HTMLInputElement | null = null
    #pickupContainerElement: HTMLElement | null = null
    #pickupInputElement: InputGroupElement | null = null
    #mapElement: YMapElement | null = null
    #locationButtonElement: HTMLElement | null = null
    #distanceElements: Array<HTMLElement> = []
    #pickupPointTemplate: HTMLTemplateElement | null = null

    constructor() {
      super()

      this.addEventListener('popoverOpened', () => {
        if (globalStore.orderType.value === 'delivery') {
          this.#deliveryInputElement?.focus()
        }
      })
    }

    protected override async connectedCallback() {
      super.connectedCallback()

      await customElements.whenDefined('e-map')

      this.#orderVariantElements = [...this.querySelectorAll<HTMLElement>('[data-order-type]')]

      this.#deliveryPriceElement = this.querySelector('.order-type__delivery__price')

      this.#deliveryInputElement = this.querySelector('.order-type__delivery__input')
      this.#deliveryInputElement?.addEventListener('input', this.#deliveryInputListener)

      this.#pickupContainerElement = this.querySelector('.order-type__pickup')

      this.#mapElement = this.querySelector('e-map')
      this.#mapElement?.addEventListener('markerPick', this.#mapMarkerPickListener)
      this.#mapElement?.addEventListener('ready', this.#mapReadyListener)
      this.#mapElement?.addEventListener('userAddressSearch', this.#userAddressSearchListener)
      this.#mapElement?.addEventListener('userAddressChange', this.#userAddressChangeListener)

      this.#locationButtonElement = this.querySelector('.order-type__location')
      this.#locationButtonElement?.addEventListener('click', this.#locationButtonListener)

      this.#pickupPointTemplate = this.querySelector('.order-type__point-template')
    }

    protected override disconnectedCallback() {
      super.disconnectedCallback()

      this.#deliveryInputElement?.removeEventListener('input', this.#deliveryInputListener)

      this.#pickupInputElement?.removeEventListener(
        'inputGroupValueChange',
        this.#pickupInputListener,
      )

      this.#mapElement?.removeEventListener('markerPick', this.#mapMarkerPickListener)
      this.#mapElement?.removeEventListener('ready', this.#mapReadyListener)
      this.#mapElement?.removeEventListener('userAddressSearch', this.#userAddressSearchListener)
      this.#mapElement?.removeEventListener('userAddressChange', this.#userAddressChangeListener)

      this.#locationButtonElement?.removeEventListener('click', this.#locationButtonListener)

      globalStore.orderType.unsubscribe(this.#orderTypeChangeListener)
      globalStore.address.unsubscribe(this.#addressChangeListener)
    }

    #createPickupInputGroup() {
      if (!this.#pickupContainerElement || !this.#mapElement) {
        return
      }

      this.#pickupInputElement = new InputGroupElement()
      this.#pickupInputElement.className = 'order-type__pickup__input-group'

      this.#mapElement.pickupPoints.forEach((point) => {
        cloneTemplateContent(this.#pickupPointTemplate, (e) => {
          const titleElement = e.querySelector('.pickup-address__title')

          if (titleElement) {
            titleElement.textContent = point.address
          }

          const inputElement = e.querySelector<HTMLInputElement>('.pickup-address__input')

          if (inputElement) {
            inputElement.value = point.address
          }

          const distanceElement = e.querySelector<HTMLInputElement>('.pickup-address__distance')

          if (distanceElement) {
            distanceElement.setAttribute('data-distance-value', point.address)
          }

          const typeElement = e.querySelector('.pickup-address__type')

          if (typeElement) {
            if (point.description) {
              typeElement.textContent = point.description
            } else {
              typeElement.remove()
            }
          }

          this.#pickupInputElement!.appendChild(e)
        })
      })

      this.#pickupInputElement?.addEventListener('inputGroupValueChange', this.#pickupInputListener)

      this.#pickupContainerElement.appendChild(this.#pickupInputElement)

      this.#distanceElements = [...this.querySelectorAll<HTMLElement>('[data-distance-value]')]
    }

    #updateDistances() {
      const distances = this.#mapElement?.getDistances()

      this.#distanceElements.forEach((element) => {
        const address = element.getAttribute('data-distance-value')
        const distance = distances?.find((d) => d.address === address)

        if (distance?.value) {
          element.textContent = distance.value.toFixed(2) + ' км'
        } else {
          element.textContent = ''
        }
      })
    }

    #updateDeliveryPriceDescription() {
      const zone = this.#mapElement?.getZone()

      if (this.#deliveryPriceElement) {
        if (zone) {
          this.#deliveryPriceElement.textContent = [zone.description, zone.addition]
            .filter(Boolean)
            .join('\n')

          globalStore.delivery.setUserZone(zone?.zone)
        } else {
          if (this.#mapElement?.userAddress) {
            const unknownZone = globalStore.delivery.findZone('UNKNOWN')

            this.#deliveryPriceElement.textContent = [
              unknownZone?.description,
              unknownZone?.addition,
            ]
              .filter(Boolean)
              .join('\n')

            globalStore.delivery.setUserZone('UNKNOWN')
          } else {
            this.#deliveryPriceElement.textContent = ''
            globalStore.delivery.setUserZone(null)
          }
        }
      }
    }

    #searchAddress() {
      this.#mapElement?.search(this.#deliveryInputElement?.value || '')
    }

    #pickMarker() {
      this.#mapElement?.pickMarker(this.#pickupInputElement?.value || '')
    }

    #orderTypeChangeListener = () => {
      this.#orderVariantElements.forEach((element) => {
        if (element.getAttribute('data-order-type') === globalStore.orderType.value) {
          element.ariaHidden = 'false'
        } else {
          element.ariaHidden = 'true'
        }
      })

      globalStore.address.value = ''
      globalStore.delivery.setUserZone(null)

      if (globalStore.orderType.value === 'pickup') {
        this.#mapElement?.toggleMarkers(true)
        this.#mapElement?.toggleZones(false)
        this.#pickMarker()
      } else {
        this.#mapElement?.toggleMarkers(false)
        this.#mapElement?.toggleZones(true)
        this.#searchAddress()
      }
    }

    #addressChangeListener = () => {
      this.classList.toggle('invalid-address', !globalStore.address.value)
    }

    #deliveryInputListener = debounce(() => {
      this.#searchAddress()
    }, 50)

    #pickupInputListener = () => {
      this.#pickMarker()
    }

    #locationButtonListener = () => {
      this.#mapElement?.findUserLocation()
    }

    #mapMarkerPickListener = (e: YMapEvents['markerPick']) => {
      if (globalStore.orderType.value === 'pickup') {
        globalStore.address.value = e.detail.address
        this.#pickupInputElement?.changeValue(e.detail.address)
      }
    }

    #mapReadyListener = () => {
      this.#createPickupInputGroup()
      globalStore.orderType.subscribe(this.#orderTypeChangeListener)
      globalStore.address.subscribe(this.#addressChangeListener)
    }

    #userAddressSearchListener = () => {
      document.documentElement.classList.add('location-search')
    }

    #userAddressChangeListener = (e: YMapEvents['userAddressChange']) => {
      this.#updateDistances()
      this.#updateDeliveryPriceDescription()

      document.documentElement.classList.remove('location-search')

      if (this.#deliveryInputElement && this.#deliveryInputElement !== document.activeElement) {
        this.#deliveryInputElement.value = e.detail.address
      }

      if (globalStore.orderType.value === 'delivery') {
        globalStore.address.value = e.detail.address
      }
    }
  }

  if (!customElements.get('e-order-type')) {
    customElements.define('e-order-type', OrderTypeElement)
  }

  declare global {
    interface HTMLElementTagNameMap {
      'e-order-type': OrderTypeElement
    }
  }
</script>
