---
import type { ProductVariant } from '@utils/types'

export interface Props {
  class?: string
  name?: string
  variants?: Array<ProductVariant>
}

const {
  class: className,
  name = 'product-variants',
  variants = [{ name: '4 шт.' }, { name: '8 шт.' }],
  ...rest
} = Astro.props
---

<e-toggle
  {...rest}
  class:list={['product-variants', className]}
  {name}
>
  {
    variants?.map((variant, i) => {
      return (
        <button
          class="f-d-16-s f-m-14-s product-variants__variant"
          data-checked={i === 0}
          data-value={variant.name}
        >
          {variant.name}
        </button>
      )
    })
  }
</e-toggle>

<style is:global>
  .product-variants {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
  }

  .product-variants__variant {
    position: relative;
    cursor: pointer;
    display: block;

    display: block;

    padding: 0.4rem 1.6rem;

    border: 0.1rem solid var(--color-secondary-2);
    border-radius: var(--border-radius-1);

    /* transition:
  border-color var(--duration-button),
  background-color var(--duration-button); */

    &[data-checked] {
      background-color: var(--color-functional-1);
      border-color: var(--color-functional-1);
    }

    @media (max-width: 768px) {
      padding: 0.4rem 1.2rem;
    }
  }
</style>
