---
import SuggestionProduct, { type Props as SuggestionProductProps } from './SuggestionProduct.astro'

export const modal = '#basket'

export interface Props {
  class?: string
  title?: string
  products?: Array<SuggestionProductProps>
}

const {
  class: className,
  title = 'Добавить к заказу?',
  products = [
    {
      price: 250,
      name: 'Сет «111», 32 шт.',
      description: 'Сливочный сыр, сурими, салат Айсберг, икра тобико оранжевая, кунжут',
      pid: '111',
      image: '/images/food/1.jpg',
    },
    {
      price: 250,
      name: 'Сет «222», 32 шт.',
      description: 'Сливочный сыр, сурими, салат Айсберг, икра тобико оранжевая, кунжут',
      pid: '222',
      image: '/images/food/1.jpg',
    },
    {
      price: 250,
      name: 'Сет «333», 32 шт.',
      description: 'Сливочный сыр, сурими, салат Айсберг, икра тобико оранжевая, кунжут',
      pid: '333',
      image: '/images/food/1.jpg',
    },
    {
      price: 250,
      name: 'Сет «444», 32 шт.',
      description: 'Сливочный сыр, сурими, салат Айсберг, икра тобико оранжевая, кунжут',
      pid: '444',
      image: '/images/food/1.jpg',
    },
    {
      price: 250,
      name: 'Сет «555», 32 шт.',
      description: 'Сливочный сыр, сурими, салат Айсберг, икра тобико оранжевая, кунжут',
      pid: '555',
      image: '/images/food/1.jpg',
    },
  ],
  ...rest
} = Astro.props
---

<e-suggestion-products
  {...rest}
  class:list={['suggestion-products', className]}
>
  <div
    class="f-d-18-s f-m-16-s suggestion-products__title"
    set:html={title}
  />
  <div class="suggestion-products__content">
    <e-scroll>
      {
        products.map((product) => {
          return <SuggestionProduct {...product} />
        })
      }
    </e-scroll>
  </div>
</e-suggestion-products>

<style is:global>
  .suggestion-products {
    e-scroll {
      --gap: 1rem;
      --axis: x;
      --sections-in-view: 4;
      --auto-size: true;
      --sectional: true;

      display: flex;
      gap: var(--gap);

      @media (max-width: 768px) {
        --gap: 0.8rem;
        --sections-in-view: 2.7;
      }
    }
  }

  .suggestion-products__title {
    margin-bottom: 1.6rem;
  }
</style>
