---
export interface Props {
  class?: string
  heading?: string
  text?: string
}

const {
  class: className,
  heading = 'Пользовательское соглашение',
  text = `\
    Данное пользовательское соглашение (далее — «Соглашение») регулирует условия использования сервиса онлайн-заказов на сайте и в мобильном приложении ресторана японской кухни «Инари» (далее — «Ресторан»), а также порядок предоставления услуг доставки, оплаты и использования информации.

    Пользуясь услугами Ресторана, вы соглашаетесь с условиями данного Соглашения. Если&nbsp;вы&nbsp;не&nbsp;согласны с данными условиями, пожалуйста, прекратите использование сервиса.

    <h2>1. Основные термины</h2>\
    1.1. Ресторан — ресторан японской кухни «Инари», оказывающий услуги по приготовлению и&nbsp;доставке блюд, доступных для заказа на сайте и/или через мобильное приложение.
    1.2.Пользователь — физическое лицо, использующее сайт или мобильное приложение для&nbsp;оформления заказов.
    1.3. Заказ — оформленная и оплаченная заявка на приобретение выбранных пользователем товаров и/или услуг (блюд и напитков) через сайт или приложение.
    1.4.Курьерская доставка — услуга по доставке Заказов, предоставляемая Рестораном или&nbsp;его&nbsp;партнёрами.
    
    <h2>2. Регистрация и обработка персональных данных</h2>\
    2.1. Для оформления Заказа Пользователь может зарегистрироваться на сайте или в приложении, предоставив действующий номер телефона, e-mail и прочие необходимые данные.
    2.2.Пользователь соглашается на обработку своих персональных данных в соответствии с политикой конфиденциальности Ресторана.
    2.3. Персональные данные Пользователя используются исключительно для выполнения Заказов, улучшения качества обслуживания и маркетинговых целей с согласия Пользователя.

    <h2>3. Порядок оформления и оплаты Заказа</h2>\
    3.1. Пользователь выбирает товары из меню, добавляет их в корзину и указывает условия доставки (адрес, время и пр.).
    3.2. После оформления заказа Пользователь обязан подтвердить свои контактные данные и внести оплату выбранным способом (наличными при получении, онлайн-оплата, оплата через QR-код и пр.).
    3.3. В случае ошибки при оформлении Заказа или предоставления неверной информации Пользователь должен незамедлительно сообщить об этом в Ресторан.
    3.4. После успешного оформления и оплаты Заказа Пользователь получает уведомление о его принятии через SMS или e-mail.

    <h2>4. Доставка Заказов</h2>\
    4.1. Доставка осуществляется по указанному Пользователем адресу в пределах зон доставки, указанных на сайте.
    4.2. Время доставки рассчитывается автоматически и зависит от удаленности и загруженности Ресторана.
    4.3. В случае форс-мажорных обстоятельств (неблагоприятные погодные условия, пробки и прочие внешние факторы) возможны задержки в доставке. Ресторан уведомляет Пользователя о таких задержках.
    4.4. Курьер предоставляет Заказ, а Пользователь обязан проверить комплектность и соответствие заказанных блюд.
    4.5. Если Пользователь не вышел на связь для получения Заказа в течение 15 минут, курьер вправе покинуть место доставки. В таком случае повторная доставка оплачивается отдельно.

    <h2>5. Возврат и замена товаров</h2>\
    5.1. Пользователь имеет право на возврат или замену товаров, если обнаружены недочёты в качестве блюд (например, не соблюдены условия хранения или срок годности).
    5.2. Для возврата или замены товара Пользователь обязан обратиться в Ресторан в течение 24 часов с момента получения Заказа, предоставив доказательства (фото, описание).
    5.3. В случае опоздания курьера более чем на 30 минут Пользователю предоставляется скидка на следующий Заказ в размере 10%.

    <h2>6. Отказ от заказа</h2>\
    6.1. Пользователь вправе отменить Заказ до начала его приготовления, связавшись с представителями Ресторана.
    6.2. Если Заказ уже был отправлен в доставку, отмена заказа не производится, и стоимость Заказа не возвращается.
    6.3. В случае оплаты онлайн, возврат средств за отменённый заказ осуществляется в течение 5-7 рабочих дней на банковскую карту, с которой была произведена оплата.

    <h2>7. Ответственность сторон</h2>\
    7.1. Ресторан не несёт ответственность за неудовлетворенность Пользователя вкусом или эстетическими характеристиками блюда, если они соответствуют описанию на сайте.
    7.2. Пользователь обязуется предоставить корректные контактные данные и адрес для доставки. В случае неверной информации ответственность за срыв доставки лежит на Пользователе.
    7.3. Ресторан оставляет за собой право изменить состав блюд, меню и стоимость доставки без предварительного уведомления Пользователя. Все изменения вступают в силу с момента их публикации на сайте.

    <h2>8. Использование сайта и мобильного приложения</h2>\
    8.1. Пользователь обязуется не использовать сайт и приложение в незаконных или противоречащих данному Соглашению целях.
    8.2. Запрещается распространять, копировать или изменять информацию, содержащуюся на сайте и в приложении, без письменного разрешения Ресторана.
    8.3. Ресторан не несёт ответственности за сбои в работе сайта или приложения, вызванные техническими причинами, но обязуется прилагать все усилия для их скорейшего устранения.

    <h2>9. Изменение условий Соглашения</h2>\
    9.1. Ресторан оставляет за собой право вносить изменения в данное Соглашение без предварительного уведомления Пользователей.
    9.2. Новая редакция Соглашения вступает в силу с момента её публикации на сайте или в приложении.

    <h2>10. Заключительные положения</h2>\
    10.1. Настоящее Соглашение регулируется законодательством Российской Федерации. 
    10.2. Все споры, возникающие в связи с использованием услуг Ресторана, решаются путём переговоров. В случае невозможности достичь соглашения спор подлежит рассмотрению в судебном порядке по месту нахождения Ресторана.

    Если у вас возникли вопросы, вы всегда можете обратиться к нам через контактные данные, указанные на сайте.
  `,
  ...rest
} = Astro.props
---

<div
  {...rest}
  class:list={['technical', className]}
>
  <h1
    class="f-d-36-s f-m-24-s technical__heading"
    set:html={heading}
  />
  <div
    class="technical__text"
    set:html={text}
  />
</div>

<style is:global>
  .technical {
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
    padding-top: 3.2rem;

    @media (max-width: 768px) {
      padding-top: 2.4rem;
    }
  }

  .technical__heading {
    margin-bottom: 3.2rem;
    width: 96rem;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 1.6rem;
    }
  }

  .technical__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 120%;

    white-space: pre-line;

    width: 96rem;

    @media (max-width: 768px) {
      width: 100%;
      font-size: 1.4rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 0.4rem;

      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
    }

    ul {
      list-style: disc;
    }

    ul {
      list-style: decimal;
    }

    li {
      list-style-position: inside;
    }

    p {
      margin-bottom: 0.8rem;

      @media (max-width: 768px) {
        margin-bottom: 0.4rem;
      }
    }

    b {
      font-weight: 400;
      color: var(--color-functional-1);
    }
  }
</style>
