---
import Header from '@singletons/Header.astro'
import Footer from '@singletons/Footer.astro'
import FormAnswer from '@singletons/FormAnswer.astro'

import Head from './Head.astro'
import { type Props as SeoProps } from './Seo.astro'
import Review from '@singletons/Review.astro'
import OrderType from '@singletons/OrderType.astro'
import DeliveryZones from '@singletons/DeliveryZones.astro'

export interface Props {
  header?: boolean
  headerBlackAndWhite?: boolean
  footer?: boolean
  cookies?: boolean
  formResultModal?: boolean
  ctaModal?: boolean
  partnerModal?: boolean
  seo?: SeoProps | undefined
  basketOpened?: boolean | undefined
}

const { header = true, footer = true, basketOpened, seo } = Astro.props
---

<html
  lang="ru"
  data-order-type="delivery"
>
  <Head {seo} />

  <body>
    <div class="page">
      {header && <Header basketOpened={basketOpened} />}

      <div
        class="scroll custom-scrollbar"
        id="page-scroll"
      >
        <main>
          <slot />
        </main>

        {footer && <Footer />}
      </div>

      <DeliveryZones />
      <OrderType />
      <Review />
      <FormAnswer />
    </div>
  </body></html
>

<style is:global>
  .page {
    width: 100%;
    height: 100%;
    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    .page-loaded & {
      opacity: 1;
      transition: opacity 1s;
      pointer-events: auto;
    }
  }

  .scroll {
    width: 100%;
    height: 100%;

    padding-top: var(--header-height);

    scroll-padding-top: var(--header-height);

    overflow: hidden auto;

    .dragging & {
      overflow: hidden;
    }
  }
</style>

<script>
  import '@globals/main.ts'
</script>
